.footer-bumper{
	text-transform: uppercase;
    padding-top: 15px;
    font-size: 17px;
    text-align: center;
    background-color: #353A3F;
    color: #C7BDB7;
    height: 10%;
    width: 100%;
    bottom: 0px;
    position: absolute;
} 

a{
	color: #C7BDB7;
}