html, body
{
    font-family: 'Roboto', sans-serif;
    height: 100%;
    font-weight: 300;
    background: url(../../img/logo-bg.png) no-repeat;
    background-position: 50% 65%;
    overflow: hidden;
}

a{
	cursor: pointer;
}